body{
    background-color: black;
}


h1{
    color: bisque;
   padding-top: 3%;
   
}




.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: black;
}

   
 
 input{
    width: 100px;
    text-align: center;
    border: none;
    padding-left: 10px ;
    color: black;
  
   
    
 }
   
 .vlrecebido{
   margin-bottom: 1%;
   margin-top: 5%;
   color: green;
   
}
.vlrecebido>label{
   padding-left: 31px;
   font-weight: bold;

}
.vlrecebido>input{
    padding-left: 15px;
    border-radius: 5%;
    background-color: black;
    border: 1px solid #ccc;
    color: aquamarine;
}


.recebido{
    padding: 5%;
    margin-bottom: 5px;
    display: block;
   padding-left: 0%;
   width: max-content;
   font-weight: bold; 
}

.valorliquido{
    width: 65%;
    height: 50px;
    font-size: larger;
    border: none;
    background-color: black;
    color: aquamarine;
    font-weight: bold;
    padding:0px ;
    padding-left: 25px;

}

.boxcalculadora{
background-color: black;
color: bisque;
height: 100px;
padding: 30px;
margin-top: 1px;
margin-left: 25px;
border-width: 3px; 
border-style: dashed; 
border-color: red;
}


.boxbase > input, .boxsenar > input, .boxinss >input, .boxrat >input{
    background-color: black;
    color: antiquewhite;
}
.boxbase > input{
    padding-left: 1px;
  
}
.boxsenar > input{
    padding-left:1px ;
}
.boxinss >input{
    padding:1px
}
